/*CATALOG
===========================================*/
.catalog{
    margin-bottom: 150px;
  }
  .catalog-row{
    display: flex;
    flex-wrap: wrap;
  }
  .col-2{
    width: 25%;
  }
  .catalog__item{
    position: relative;
  }
  .catalog__name{
    position: absolute;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    top:186px;
    left: 30px;
  }