
.catalog {
  margin-bottom: 150px;
}
.catalog__item {
  position: relative;
}
.catalog__name {
  position: absolute;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  top: 186px;
  left: 30px;
}

/*MEDIA
=========================================*/
@media screen and (max-width:1024px){
.catalog .container{
  padding: 0;
}
.catalog__item{
  width: 100%;
}
.catalog__img{
  width: 100%;
}
.catalog__name{
  top:260px;
}
}