.collection {
  position: relative;
  z-index: 1;
}

.collection .col-6{
  width: 50%;
}

.collection__item {
  position: relative;
  padding: 60px 30px 58px;
  max-height: 250px;
}
.before::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 250px;
  background-color: #f9f6f1;
  z-index: -1;
}
.after::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 250px;
  background-color: #f4f4f4;
  z-index: -1;
}
.collection__image {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.collection__title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.font-regular {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.collection__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}
.collection__button {
  background-color:#D7B399;
  padding: 11px 30px;
}
.collection__arrow{
  fill:white;
  width:21px;
  height: 8px;
}


/*MEDIA
===============================================*/
@media screen and (max-width: 576px) {
  .collection__row {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 30px;
  }
  .collection__men::before {
    width: 100%;
  }
  .collection__women::after {
    width: 100%;
    top: 250px;
  }
  .woman-img,
  .man-img {
    width: 150px;
  }
  .collection__men,
  .collection__women {
    width: 100%;
  }
  .collection__men {
    background-color: #f6f6f1;
  }
  .collection__women {
    background-color: #f4f4f4;
  }
  .men__rigth {
    margin-right: 0;
    margin-top: 0;
  }
  .women__rigth {
    margin-top: 0;
  }
}
