  /*COLLECTION SECTION
  ================================================*/
  .collection{
    position: relative;
  }
.collection__row{
  display: flex;
}
.collection__men{
  background-color: #f6f6f1;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  width:50%;
}

.collection__men::before{
  position: absolute;
  content: '';
  width: 50%;
  min-height: 250px;
  top: 0;
  right:0;
  background-color: #f4f4f1;
  z-index: -1;
}
.col-6{
  width: 50%;
}
.collection__women{
  background-color: #f4f4f4;
  width:50%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.collection__women::after{
  position: absolute;
  content: '';
  width: 50%;
  min-height: 250px;
  top: 0;
  left:0;
  z-index: -1;
  background-color: #f6f6f4;
}
.men__left, .women__left{
  display: flex;
  flex-direction: column;
}
.collection__title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 35px;

}
 
.collection__title--regular-text{
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.06em;
}

.collection__subtitle{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}
.collection__btn{
  width: 80px;
  height: 30px;
  background-color: #d7b399;
  border: none;
}
.men__rigth{
  margin-right: 15px;
  margin-top: 20px;
}
.women__rigth{
  margin-top: 20px;
}


/*MEDIA
===============================================*/
@media screen and (max-width:576px){
  
  .collection__row{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 30px;
  }
  .collection__men::before{
    display: none;
    }
  .collection__women::after{
   display: none;

  }
  .women__rigth, .men__rigth{
    display: none;
  }
  .collection__men, .collection__women{
    width: 100%;
  }
  .collection__men{
    background-color: #f6f6f1;
  }
  .collection__women{
    background-color: #f4f4f4;
  }
}