/*DELIVERY SECTION
  ================================================*/
.delivery {
  background-color: #212121;
  padding: 80px 0;
}
.delivery__title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.delivery__title span {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 37px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.delivery__subtitle {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

/*MEDIA
============================================*/
@media screen and (max-width: 1024px) {
  .delivery {
    padding: 30px;
  }
  .delivery__title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .delivery__title span {
    font-size: 20px;
  }
  .delivery__subtitle {
    font-size: 14px;
    padding: 0 0 30 0;
  }
}
