/*GET-PRESENT
=======================================*/
.get-present{
    background-color: #212121;
    padding: 70px 0;
    margin-bottom: 150px;
  }
 
  .get-present__title{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
  }
    
  .get-present__button{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding: 12px 30px;
    background-color: #d7b399;
    border: none;
    margin-left: 35px;
  }
  .email{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 12px 130px 12px 20px;
  }
  
  /*MEDIA
  =================================*/
 @media screen and (max-width:1024px){
  .get-present__inner{
    flex-direction: column;
    padding: 0 30px;
  }
  
  .get-present__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .get-present{
    padding: 40px 0;
  }
  .email{
    width: 100%;
    margin-bottom: 15px;
  }
  .get-present__button{
    margin: 0;
  }
 
 }