.hero{
    position: relative;
    min-height: 800px;
    background-color: #F9F6F1;
  
  }
  .hero__row{
      display: flex !important;
      justify-content: space-between;
      margin-top: 261px;
  
  }
  .col-6{
      width: 50%;
  }
  .hero__suptitle{
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      letter-spacing: 0.02em;
      text-align: left;
      color: black;
      margin-bottom: 35px;
  }
  .hero__title{
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: 67px;
      letter-spacing: 0.04em;
      text-align: left;
      color: black;
      margin-bottom: 55px;
  }
  
  .hero__button{
      padding: 18px 50px 18px 50px;
     
  }
  .oldprice{
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.05em;
      text-align: right;
      color: black;
      text-decoration-line: line-through;
  }
  .newprice{
      font-family: 'Montserrat', sans-serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 51px;
      letter-spacing: 0.02em;
      text-align: right;
      color:#D84033;
  }
  
  .hero__rigth{
      position: relative;
  }
  .hero__img{
      position: absolute;
      top: -34px;
  }
  
  .slick-initialized .slick-slide {
      display: flex;
    }
    
    .slick-slide {
      border: none !important;
      outline: none !important;
    }
    
    .slick-arrow {
      display: none !important;
    }
    .hero .slick-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      list-style: none;
    }
    
    .hero .slick-dots button {
      width: 40px;
      height: 7px;
      top:-100px;
      font-size: 0;
      background-color: #cecece;
      border: none;
      outline: none;
      margin-right: 15px;
      cursor: pointer;
    }
    
    .hero .slick-dots .slick-active button {
      background-color: #d7b399;
    }
    .slick-list{
      min-height: 700px;
    }