.hero{
    position: relative;
    min-height: 800px;
    background-color: #F9F6F1;
  
  }
  .hero__row{
      display: flex !important;
      justify-content: space-between;
      margin-top: 261px;
  
  }
  .col-6{
      width: 50%;
  }
/*hero left
=============================================*/
  .hero__suptitle{
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.02em;
      text-align: left;
      color: black;
      margin-bottom: 35px;
  }
  .hero__title{
      font-family: Montserrat;
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.04em;
      text-align: left;
      color: black;
      margin-bottom: 55px;
  }
  
  .hero__button{
      padding: 18px 50px 18px 50px;
     
  }
   /*hero right
=============================================*/
  .oldprice{
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.05em;
      text-align: right;
      color: black;
      text-decoration-line: line-through;
  }
  .newprice{
      font-family: 'Montserrat', sans-serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.02em;
      text-align: right;
      color:#D84033;
  }
  .hero__right{
      position: relative;
  }
  .hero__img{
      position: absolute;
      top: -34px;
  }
  
   /*slick slider
=============================================*/
  .slick-initialized .slick-slide {
      display: flex;
    }
    
    .slick-slide {
      border: none !important;
      outline: none !important;
    }
    
    .slick-arrow {
      display: none !important;
    }
    .hero .slick-dots {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      list-style: none;
    }
    
    .hero .slick-dots button {
      width: 40px;
      height: 7px;
      top:-100px;
      font-size: 0;
      background-color: #cecece;
      border: none;
      outline: none;
      margin-right: 15px;
      cursor: pointer;
    }
    
    .hero .slick-dots .slick-active button {
      background-color: #d7b399;
    }
    .hero .slick-list{
      min-height: 700px;
    }

  /*MEDIA
  ================================================*/
  @media screen and (max-width:1024px){
    .hero{
      height: 100vh;
      min-height: auto;
      overflow: hidden;

    }
    .hero__row{
      margin-top: 170px;
      flex-wrap: wrap;
    }
    .col-6{
      width: 100%;
    }
    .hero__title, .hero__suptitle{
      text-align: center;
    }
    .hero__suptitle{
      font-size: 18px;
      margin-bottom: 20px;
    }
    .hero__title{
      font-size: 30px;
      margin-bottom:20px;
      padding: 0;
    }
    .hero__button{
      padding: 10px 20px ;
      margin-top: 5px;
    }
   
    .hero__left{
      text-align: center;
    }
    .hero__right{
      margin-top: 50px;
    }
    .hero__img{
      max-width: 280px;
      position: absolute;
      top: -10px;
    }
    .oldprice{
      font-size: 16px;
    }
    .newprice{
      font-size: 24px;
    }
    .hero .slick-list{
      min-height: 600px;
    }
  }