
.btn{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  background-color:#D7B399;
  border: none;
  text-transform: uppercase;
}
 