.hero{
  position: relative;
  min-height: 800px;
  background-color: #F9F6F1;

}
.hero__row{
    display: flex;
    justify-content: space-between;
    margin-top: 261px;

}
.col-6{
    width: 50%;
}
.hero__suptitle{
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: black;
    margin-bottom: 35px;
}
.hero__title{
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0.04em;
    text-align: left;
    color: black;
    margin-bottom: 55px;
}

.hero__button{
    padding: 18px 50px 18px 50px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    background-color:#D7B399;
    border: none;
}
.oldprice{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: right;
    color: black;
    text-decoration-line: line-through;
}
.newprice{
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0.02em;
    text-align: right;
    color:#D84033;
}

.hero__rigth{
    position: relative;
}
.hero__img{
    position: absolute;
    top: -34px;
}

.slick-initialized .slick-slide {
    display: flex;
  }
  
  .slick-slide {
    border: none !important;
    outline: none !important;
  }
  
  .slick-arrow {
    display: none !important;
  }
  .hero .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
  }
  
  .hero .slick-dots button {
    width: 40px;
    height: 7px;
    top:-100px;
    font-size: 0;
    background-color: #cecece;
    border: none;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .hero .slick-dots .slick-active button {
    background-color: #d7b399;
  }
  .slick-list{
    min-height: 700px;
  }

  /*DELIVERY SECTION
  ================================================*/
  .delivery{
    background-color: #212121;
  }
  .delivery__title{
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
  .delivery__title span{
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
}
.delivery__subtitle{
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 23px 0 70px 0;
}

  /*COLLECTION SECTION
  ================================================*/
.collection__row{
  display: flex;
  flex-wrap: wrap;
}
.collection__men{
  width: 50%;
  background-color: #f6f6f1;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.collection__women{
  width: 50%;
  background-color: #f4f4f4;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.men__left, .women__left{
  display: flex;
  flex-direction: column;

}
.collection__title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 35px;

}
 
.collection__title--regular-text{
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.06em;
}

.collection__subtitle{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}
.collection__btn{
  width: 80px;
  height: 30px;
  background-color: #d7b399;
  border: none;
}

.men__rigth, .women__rigth{
}
.men__rigth{
  margin-right: 15px;
  margin-top: 20px;
}
.women__rigth{
  margin-top: 20px;
}
/*
.collection__men::before{
  position: absolute;
  content: '';
  width: 850px;
  height: 400px;
  top: 0;
  right:590px;
  background-color: #f696f1;
}*/


/*CATALOG
===========================================*/
.catalog{
  margin-bottom: 150px;
}
.catalog-row{
  display: flex;
  flex-wrap: wrap;
}
.col-2{
  width: 25%;
}
.catalog__item{
  position: relative;
}
.catalog__name{
  position: absolute;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  top:186px;
  left: 30px;
}
/*MODEL
==========================================*/
.model__title{
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;

}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-2{
  width: 25%;
}
.model__description{
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 15px;

}
.model__price{
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #D7B399;

}
.model__inner{
  display: flex;
  flex-direction: column;
  padding: 20px 23px;
  justify-content: center;
}
.model__img{
  margin-bottom: 25px;
}
.model__border{
  width: 92%;
  padding: 25px;
  position: relative;

}
.model__border {
  min-height: 344px;
}

.model__inner {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.model__border:before,
.model__border:after,
.model__inner:before,
.model__inner:after {
  position: absolute;
  width: 32px;
  height: 32px;
  content: '';
  border-color: #d7b399;
  border-style: solid;
}

.model__border:before {
  left: 0px;
  top: 0px;
  border-width: 4px 0 0 4px;
}

.model__border:after {
  right: 0px;
  top: 0px;
  border-width: 4px 4px 0 0;
}

.model__inner:before {
  right: 0px;
  bottom: 0px;
  border-width: 0 4px 4px 0;
}

.model__inner:after {
  left: 0px;
  bottom: 0px;
  border-width: 0 0 4px 4px;
}