
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}
body{

}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-3{
  width: 25%;
}
.col-6{
  width: 50%;
}




.btn{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  background-color:#D7B399;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}


.btn:hover {
  background-color: #f5ac78;
  outline: none;
}

.btn:active {
  background-color: #f5ac78;
  box-shadow: 0 5px #e97b2c;
  transform: translateY(4px);
}

/*MEDIA
=========================================*/
@media screen and (max-width:1024px){
  .container{
    padding:0 25px;
  }
  .btn{
    font-size: 12px;
  }
  .row{
    flex-wrap: wrap;
  }
  .col-6{
    width: 100%;
  }
  .col-3{
    width: 100%;
  }

}

@media screen and (max-width:576px){
  .container{
      padding: 0 25px;
  }
}