.model__title{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  margin:150px 0 100px 0;  
}
.model__row{
  margin-bottom: 50px;
}
.model__inner{
  display: flex;
  flex-direction: column;
  padding: 25px 23px; 
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;
}
.model__img{
  margin-bottom: 25px;
}

  .model__description{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
    max-width: 110px;
}
  .model__price{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    color: #D7B399;
  
  }
 
  .model__border{
    padding: 25px;
    position: relative;
    min-height: 344px;
    margin:0 20px;
}

  
  .model__border:before,
  .model__border:after,
  .model__inner:before,
  .model__inner:after {
    position: absolute;
    width: 32px;
    height: 32px;
    content: '';
    border-color: #d7b399;
    border-style: solid;
  }
  
  .model__border:before {
    left: 0px;
    top: 0px;
    border-width: 4px 0 0 4px;
  }
  
  .model__border:after {
    right: 0px;
    top: 0px;
    border-width: 4px 4px 0 0;
  }
  
  .model__inner:before {
    right: 0px;
    bottom: 0px;
    border-width: 0 4px 4px 0;
  }
  
  .model__inner:after {
    left: 0px;
    bottom: 0px;
    border-width: 0 0 4px 4px;
  }
  .model__button{
    padding: 18px 35px 18px 35px;
    margin-bottom: 150px;
   
  }  
  .model__arrow{
    margin-left: 10px;
    fill: white;
    width: 24px;
    height: 8px;
  }
  
  /*MEDIA
  ==========================================*/
 @media screen and (max-width:1024px){
   .model .container{
     padding: 0;
   }
 .model__item{
   margin: 25px;
 }
  .model__title{
    margin:100px 0 20px 0;
    font-size: 30px;
  }
  .model__border{
    margin: 45px;
  }
  
  .model__inner{
    margin-bottom: -40px;
  }
  .model__button{
    margin-bottom: 50px;
      padding: 15px 30px 15px 30px;
     
    }  
  }
  
 